<header class="masthead">
    <div class="masthead-inner">
        <a href="{{ site.baseurl }}/" class="masthead-logo">
        <span class="mega-octicon octicon-package"></span>
        Hype<span class="fade">Guides</span>
        </a>

        <nav class="masthead-nav">
            {% for nav in site.data.nav %}
                {% if page.url == nav.href %}
                    <a class="active" href="{{ nav.href | prepend: site.baseurl }}">{{ nav.title }}</a>
                {% else %}
                    <a href="{{ nav.href | prepend: site.baseurl }}">{{ nav.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>