aside {
	display: none;
    @include media($bp-large) {
    	display: inline;
        @include span-columns(3);
    }
    .toc li {
        @include pad(0.3rem 0 0.3rem 0);
        border-bottom: 1px solid $base-horizontal-rule;
    }
}