header {
    background-color: $home;
    position: absolute;
    @include media($bp-large) {
        position: fixed;
    }
    width: 100%;
    z-index: 1;
    .developer & { background-color: $developer; }
    .designer & { background-color: $designer; }
    .customerservice & { background-color: $customerservice; }
    .qa & { background-color: $qa; }
    .project & { background-color: $project; }
    .inner {
        @include outer-container;
        @include pad(1rem 2rem 1rem 2rem);
    }
}

.markdown-body h2:before {
    @include media($bp-large) {
        content:"";
        display:block;
        height:90px; /* fixed header height*/
        margin:-90px 0 0; /* negative fixed header height */
    }
}

ol.toc.sticky {
  position: fixed;
  top: 90px;
}