html, body {
 	height: 100%;
}

body {
 	//display: flex;
 	background: #555;
 	overflow-x: hidden;
}

#content {
  //flex: 1;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  //transform: translate3d(0,0,0);
  @include transform(translate3d(0,0,0));
  @include transition-property(transform);
  @include transition-duration(0.3s);
  //transition: transform .3s;
  background: #fff;
}

#content.isOpen {
  @include transform(translate3d(-260px,0,0));
  //transform: translate3d(-260px,0,0); //Change this - to + for left open
}

.wrapper {
    @include outer-container;
    @include pad(null 2rem null 2rem);
}

article {
    @include media($bp-large) {
        @include shift(1.5);
        @include span-columns(7.5);
        @include omega();
    }
}