.masthead {
    background-color: $home;
    position: fixed;
    width: 100%;
    z-index: 1;
    .developer & { background-color: $developer; }
    .designer & { background-color: $designer; }
    .customerservice & { background-color: $customerservice; }
    .qa & { background-color: $qa; }
    .project & { background-color: $project; }
    .masthead-inner {
        @include outer-container;
        @include pad(1rem 2rem 1rem 2rem);
    }
}

.masthead-nav {
    float: right;
    margin-top: .6rem;
    & a:not(:last-child) {
        margin-right: 1.25rem;
    }
}