<!DOCTYPE html>
<html>

{% include head.html %}
<body class="{{ page.title }}"  >
    
{% include header.html %}

<div class="wrapper">

    {% if page.title == "home" %}
        <section class="intro">
            <h1>Hype<span>Guides</span></h1>
            <p>The toolkits and guidelines that power Hypenotic projects.</p>
            <small>Maintained by your friendly neighbourhood humans at Hypenotic.<br>
            Created: 25 April 2015 &#8226; Updated: {{ site.time || date_to_long_string}}</small>
        </section>
    {% endif %}

    {% if page.title != "home" %}
        {{ content }}
        {% include footer.html %}
    {% endif %}
    
</div><!--Ends .wrapper-->
</div><!--End #content-->

<script src="{{ site.baseurl }}/src/js/app.min.js"></script>
<script>
    var selector = '.markdown-body h2';
    addAnchors(selector);
</script>

<script>
    $('#button').on('click', function() {
        $('#content').toggleClass('isOpen');
        $(this).toggleClass('active');
    });
</script>

<script>
  $('article').scrollNav({
    sections: 'h2',
    subSections: false,
    sectionElem: 'section',
    showHeadline: false,
    headlineText: 'Scroll To',
    showTopLink: false,
    topLinkText: 'Top',
    fixedMargin: 0,
    scrollOffset: 80,
    animated: true,
    speed: 500,
    insertTarget: 'aside',
    insertLocation: 'appendTo',
    arrowKeys: true,
    scrollToHash: false,
    onInit: null,
    onRender: null,
    onDestroy: null
});
</script>

</body>
</html>