<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{ page.title }}"  >
    
{% include header.html %}
<div class="wrapper">

    {% if page.title == "home" %}
        <div class="intro">
            <h1>Hype<span class="fade">Guides</span></h1>
            <p>The toolkits and guidelines that power Hypenotic projects.</p>
            <small class="fade">Maintained by your friendly neighbourhood humans at Hypenotic.<br>
            Created: 25 April 2015 | Last updated: {{ site.time || date_to_long_string}}</small>
        </div>
    {% endif %}

    {{ content }}

    {% if page.title != "home" %}
        {% include footer.html %}
    {% endif %}
    
</div>
</body>
</html>