---
layout: default
---

<div class="util">
    <div style="float:right;">
        <span class="octicon octicon-pencil"></span>
        <a href="http://prose.io/#{{site.repo}}/edit/{{site.branch}}/{{ page.path }}" target="_blank"> Improve this page</a>
    </div>

    <span class="octicon octicon-clock"></span>
    {% if site.readtime %}
        {% if site.wpm %}
            {% assign readtime = page.content | strip_html | number_of_words | append: '' | divided_by:site.wpm %}
        {% else %}
            {% assign readtime = page.content | strip_html | number_of_words | append: '' | divided_by:180 %}
        {% endif %}
    {% endif %}
    <span class="time">{{ readtime }}</span> minute read
</div>

<div class="main" style="margin-top: 2rem;">
    {% unless page.title == "aasdbout" %}
    <div class="sidenav">
        {% include sidenav.html %}
    </div>
    {% endunless %}
        
    <div class="content markdown-body">
        {{ content }}
    </div>
</div>